body{
padding: 0;
margin: 0;
}

.jumbotron{
margin: 0px !important;
border: 2px solid #6E6E6E;
padding-top: 0px !important;
padding-bottom: 0px !important;
}

#logo{
width: 10%; height: auto;
}

#a{
text-align: center;
}

#publi{
width: 300px;
float:right;
display:inline-block;
}

#publi2{
width: 100%; height: auto;
}

#a{
background:url("../img/jumb.png") no-repeat;background-size:cover;
}

#content{
background-color:#BDBDBD;
padding-top:75px;
}

.news{
background-color:#D8D8D8;
width:90%;
border-radius: 10px;
border: 2px solid #6E6E6E;
padding: 20px; 
margin-bottom: 75px;
box-shadow: 10px 10px 5px #888888;
}
#noticias{
display:inline-block;
width: calc(100% - 300px);
padding-left: 50px;
}

#footer{
background-color:#1C1C1C;
color: white;
padding-left: 75px;
padding-top: 20px;
border: 2px solid #6E6E6E;
border-radius: 3px;
font-family:OpenSans;
font-size:14px;
padding-bottom:14px;
z-index: 1000;
}

#boton-noticias{
margin-top:50px;
margin-bottom:50px;
}

#carga{
margin-left: 30%;
margin-bottom:75px;
}

.affix {
      top: 0;
      width: 100%;
      z-index:1;
  }
.navbar{

	margin-bottom: 0px !important;
}

.col-sm-3{
	margin-top:75px;
	height: 300px;
	width: 100% !important;
}

.nav-pills{

	margin-top:100px;
}
.text-right{
	font-size:11px;
}

#video{
 width=90%;
 height=90%;
}

@media screen and (max-width: 800px) {

#publi{
height:90px;
width:100%;
position:fixed;
bottom:0px;
left:0px;
}

#noticias{
width: 100%;
padding-left:0px;
}

.news{
background-color:#D8D8D8;
width:100%;
border-radius: 5px;
border: 2px solid #6E6E6E;
margin-bottom: 50px;
box-shadow: 10px 10px 5px #888888;
}
#content{
background-color:#BDBDBD;
padding-top:50px;
}
#barralado{
display:none;
}
#footer{
	padding-bottom:100px;
	font-size:10px;
	padding-left:30px;
}
h1{
	font-size:23px !important;
}
}